<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>我的音乐</title>
    <!--[if lt IE 9]>
    <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="stylesheet" href="../css/footer.css"/>
    <script src="../js/vue.js"></script>
    <script src="../js/axios-0.24.0.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery.transit/0.9.12/jquery.transit.js"></script>
    <link rel="stylesheet" href="../css/mymusic/mymusics_logined.css"/>
</head>

<body>
<div id="app">
    <div class="wrap">
        <header class="header" id="header">
            <div class="header_content">
                <div class="header_content_top">
                    <h1>
                        <a href="http://localhost/pages/index.html">
                            <img src="http://localhost/images/logo/logo5.png" alt=""/>
                        </a>
                    </h1>
                    <ul>
                        <li class="concert_hall">音乐厅</li>
                        <li class="my_musics selected_li">我的音乐</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="mod_profile">
                <div class="section_inner">
                    <div class="profile_avatar_link">
                        <img alt="头像" class="profile_avatar">
                    </div>
                    <h1 class="profile_title">
                        <span class="profile_name"></span>
                    </h1>
                    <ul class="mod_user_statistic">
                        <li class="user_statistic_item">
                            <a href="javascript:;">
                                <stong>100</stong>
                                <span>关注</span>
                            </a>
                        </li>
                        <li class="user_statistic_item">
                            <a href="javascript:;">
                                <stong>0</stong>
                                <span>粉丝</span>
                            </a>
                        </li>
                    </ul>
                    <div class="section_inner_screen"></div>
                </div>
            </div>
            <div class="mod_playlist">
                <div class="profile_nav" id="nav">
                    <a href="javascript:;" class="nav_tab nav_tab_current">我的音乐</a>
                    <a href="javascript:;" class="nav_tab">我的歌单</a>
                    <a href="javascript:;" class="nav_tab">我的关注</a>
                    <a href="javascript:;" class="nav_tab">我的粉丝</a>
                    <a href="javascript:;" class="nav_tab">我上传的音乐</a>
                </div>
                <div class="js_box" style="display: block">
                    <div class="mod_tab">
                        <a class="mod_tab_item mod_tab_current">
                            歌曲
                            463
                        </a>
                        <a class="mod_tab_item ">
                            歌单
                            100
                        </a>
                        <a class="mod_tab_item">
                            专辑
                            50
                        </a>
                        <a class="mod_tab_item">
                            视频
                            0
                        </a>
                    </div>
                    <div class="profile_content" id="songshow">
                        <div class="js_sub">
                            <div class="mod_songlist_toolbar">
                                <a class="mod_btn mod_btn_blue__play">
                                    <span class="iconfont">&#xe610;</span>
                                    播放全部
                                </a>
                                <a class="mod_btn">
                                    <span class="iconfont">&#xe661;</span>
                                    添加到
                                </a>
                                <a class="mod_btn">
                                    <span class="iconfont">&#xe6ce;</span>
                                    下载
                                </a>
                                <a class="mod_btn">
                                    <span class="iconfont">&#xe7b1;</span>
                                    批量操作
                                </a>
                            </div>
                            <div class="mod_songlist" >
                                <ul class="songlist_header">
                                    <li class="songlist_header_name">歌曲</li>
                                    <li class="songlist_header_author">歌手</li>
                                    <li class="songlist_header_album">专辑</li>
                                    <li class="songlist_header_time">时长</li>
                                </ul>
                                <ul class="songlist_list">
                                    <li v-for="(song, index) of songList">
                                        <div class="songlist_item ">
                                            <div class="songlist_number">{{index + 1}}</div>
                                            <div class="songlist_songname">
                                                <span class="songlist_songname_txt">
                                                    <a v-bind:href="url(song.id)">{{song.songname}}</a>
                                                </span>
                                                <div class="mod_list_menu">
                                                    <a class="list_menu_item list_menu_play" title="播放" v-bind:sid="song.id">
                                                        <span class="iconfont lmi_play">&#xe75d;</span>
                                                        <span class="icon_txt">播放</span>
                                                    </a>
                                                    <a class="list_menu_item list_menu_add" title="添加到播放列表"  v-bind:sid="song.id">
                                                        <span class="iconfont lmi_add">&#xe7b2;</span>
                                                        <span class="icon_txt">添加到播放列表</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="songlist_artist">
                                                <a href="javascript:;" class="playlist__author">{{song.singer}}</a>
                                            </div>
                                            <div class="songlist_album">
                                                <a href="javascript:;">{{song.album}}</a>
                                            </div>
                                            <div class="songlist_time">{{song.timelength}}</div>
                                            <a class="songlist_delete">
                                                <span class="iconfont lmi_delete">&#xe6fc;</span>
                                                <span class="icon_txt">删除</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer"></footer>
        <div class="copyright"></div>
        <a class="btn_bottom_top" href="javascript:window.scrollTo( 0, 0 );">
            <span class="iconfont">&#xe61c;</span>
        </a>
        <strong id="tip"></strong>
    </div>
</div>
<div id="popupbox">
    <div class="mod_operate_menu">
        <div class="operate_menu_cont">
            <ul class="operate_menu_list operate_menu_top_line operate_menu_bottom_line">
                <li v-for="songbox of songBoxList" class="operate_menu_item">
                    <a class="operate_menu_link" v-bind:songboxid="songbox.id">{{songbox.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="../js/header.js"></script>
<script src="../js/mymusic/mymusic_url.js"></script>
<script src="../js/mymusic/mymusic_music.js"></script>
<!--<script src="../js/mymusic/mymusic.js"></script>-->
<script>
</script>
</html>