<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>歌单列表</title>
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="stylesheet" href="../css/footer.css"/>
    <script src="../js/vue.js"></script>
    <script src="../js/axios-0.24.0.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/mymusic/songlist.css"/>
</head>
<body>
<div id="app">
    <div class="wrap">
        <header class="header" id="header">
            <div class="header_content">
                <div class="header_content_top">
                    <h1>
                        <a href="http://localhost/pages/index.html">
                            <img src="http://localhost/images/logo/logo5.png" alt=""/>
                        </a>
                    </h1>
                    <ul>
                        <li class="concert_hall">音乐厅</li>
                        <li class="my_musics selected_li">我的音乐</li>
                    </ul>
                    <div class="mod_top_login">
                        <a href="javascript:;">登录</a>
                    </div>
                </div>
                <div class="header_content_bottom">
                    <ul>
                        <li class="">
                            <a href="http://localhost/pages/index.html">首页</a>
                        </li>
                        <li><a href="javascript:;">歌手</a></li>
                        <li><a href="javascript:;">新歌</a></li>
                        <li><a href="javascript:;">专辑</a></li>
                        <li><a href="javascript:;">排行榜</a></li>
                        <li>
                            <a href="javascript:;">分类歌单</a>
                        </li>
                        <li>
                            <a href="javascript:;">MV</a>
                        </li>
                        <li>
                            <a href="javascript:;">音游</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="mod_data">
                    <span class="data_cover" id="poster">
                        <img class="data_photo" v-bind:src="introduction.cover" alt="一百万个可能">
                    </span>
                <div class="data_cont">
                    <div class="data_cont_name">
                        <h1 class="data_cont_name_txt" v-bind:title="introduction.title">{{introduction.title}}</h1>
                    </div>
                    <!--                    <div class="data_cont_singer">-->
                    <!--                        <span class="iconfont icon_singer">ic</span>-->
                    <!--                        <a class="data_cont_singer_txt" href="" v-bind:title="">3a</a>-->
                    <!--                    </div>-->
                    <ul class="data_cont_info">
                        <li class="data_cont_info_item">
                            标签：
                            <span>{{introduction.type}}</span>
                        </li>
                        <li class="data_cont_info_item">
                            简介：
                            <span>{{introduction.detail}}</span>
                        </li>
                    </ul>
                    <div class="data_cont_actions">
                        <a class="mod_btn_blue">
                            <span class="iconfont data_cont_act_play"></span>
                            <span class="dct_btn_txt">播放全部</span>
                        </a>
                        <a class="mod_btn">
                            <span class="iconfont data_cont_act_like"></span>
                            <span class="dct_btn_txt">收藏</span>
                        </a>
                        <a class="mod_btn edit_btn" v-bind:href="url_songbox_edit(introduction.id, introduction.title)">
                            <span class="iconfont"></span>
                            <span class="edit_btn_txt">编辑歌单</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="detail_layout">
                <div class="detail_layout_main">
                    <div class="mod_songlist" id="songshow">
                        <ul class="songlist_header">
                            <li class="songlist_header_name">歌曲</li>
                            <li class="songlist_header_author">歌手</li>
                            <li class="songlist_header_album">专辑</li>
                            <li class="songlist_header_time">时长</li>
                        </ul>
                        <ul class="songlist_list">
                            <li v-for="(song, index) of songList">
                                <div class="songlist_item ">
                                    <div class="songlist_number">{{index + 1}}</div>
                                    <div class="songlist_songname">
                                                <span class="songlist_songname_txt">
                                                    <a v-bind:href="url(song.id)">{{song.songname}}</a>
                                                </span>
                                        <div class="mod_list_menu">
                                            <a class="list_menu_item list_menu_play" title="播放" v-bind:sid="song.id">
                                                <span class="iconfont lmi_play">&#xe75d;</span>
                                                <span class="icon_txt">播放</span>
                                            </a>
                                            <a class="list_menu_item list_menu_add" title="添加到播放列表"
                                               v-bind:sid="song.id">
                                                <span class="iconfont lmi_add">&#xe7b2;</span>
                                                <span class="icon_txt">添加到播放列表</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="songlist_artist">
                                        <a href="javascript:;" class="playlist__author">{{song.singer}}</a>
                                    </div>
                                    <div class="songlist_album">
                                        <a href="javascript:;">{{song.album}}</a>
                                    </div>
                                    <div class="songlist_time">{{song.timelength}}</div>
                                    <a class="songlist_delete" v-bind:sid="song.id">
                                        <span class="iconfont lmi_delete">&#xe6fc;</span>
                                        <span class="icon_txt">删除</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer"></footer>
        <div class="copyright"></div>
        <a class="btn_bottom_top" href="javascript:window.scrollTo( 0, 0 );">
            <span class="iconfont">&#xe61c;</span>
        </a>
        <strong id="tip"></strong>
    </div>
</div>
<div id="popupbox">
    <div class="mod_operate_menu">
        <div class="operate_menu_cont">
            <ul class="operate_menu_list operate_menu_top_line operate_menu_bottom_line">
                <li v-for="songbox of songBoxList" class="operate_menu_item">
                    <a class="operate_menu_link" v-bind:songboxid="songbox.id">{{songbox.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="../js/header.js"></script>
<script src="../js/mymusic/songlist.js"></script>
</html>